.level-right {
  margin-top: 0 !important;
}

.level-item {
  flex-grow: 0 !important;
  margin-bottom: 0 !important;
}

.level-left .level-item:not(:last-child),
.level-right .level-item:not(:last-child) {
  margin-right: 0.75rem !important;
}

#calculator {
  width: 300px;

  .button {
    $calculator-button-side-length: 3rem;

    height: $calculator-button-side-length;
    width: $calculator-button-side-length;
  }
}
